#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #84a48a;

  .App {
    text-align: center;
    background-color: #b5a7e1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(130, 34, 34, 0.1);
  }

  .todo-form {
    margin-top: 20px;
  }
}
